*{
    margin: 0;
    padding: 0;
}

 body{
      background-image: url("/image/amirali-mirhashemian-jh5XyK4Rr3Y-unsplash\ \(3\).jpg");
      background-repeat: no-repeat;
    background-size: cover;
      
 }






